@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headingL {
        font-family: "Outfit", sans-serif;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 2.5px;
        color: #a8bfc9;
    }

    .headingM {
        font-family: "Outfit", sans-serif;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 1.5px;
        color: #a8bfc9;
    }

    .headingS {
        font-family: "Outfit", sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1.25px;
        color: #a8bfc9;
    }

    .headingXS {
        font-family: "Outfit", sans-serif;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
        color: #a8bfc9;
    }

    .body {
        font-family: "Outfit", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.8px;
        color: #a8bfc9;
    }
}
